<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Page CSS link -->
    <link rel="stylesheet" href="../css/Index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>Home Page</title>
</head>
<body>

    <div class="container">
        <div class="upper-part">
            <div class="left">
                <div class="key">
                    <p><%= key %></p>
                </div>
                <div class="main-heading">
                    <p><%= activity %></p>
                </div>
                <div class="desc">
                    <p>Outdoor and Sporting goods company</p>
                </div>
            </div>
            <div class="right">
                <p>Price</p>
                <p><%= price %></p> 
            </div>
        </div>
        <div class="bottom-part">
            <div class="bottom-left">
                <div class="top">
                    <div class="button">
                        <p>Explore More</p>
                        <span class="material-symbols-outlined">
                            trending_flat
                            </span>
                    </div>
                    <div class="bottom-desc">
                        <p>We have more special goods for you 🚀</p>
                    </div>
                    <div class="adventure-and-outlet">
                        <div class="adventure">
                            <ul>
                                <li>More than</li>
                                <li>50+</li>
                                <li>Adventure Product</li>
                            </ul>
                        </div>
                        <div class="outlet">
                            <ul>
                                <li>More than</li>
                                <li>75+</li>
                                <li>Outlet in Indonesia</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="accessibility">
                        <div class="icon">
                            <span class="material-symbols-outlined">wallet </span>
                        </div>
                        <div class="more">
                            <p>Accessibility</p>
                            <p><%= accessibility %></p>
                        </div>
                    </div>
                    <div class="type">
                        <div class="icon">
                            <span class="material-symbols-outlined"> verified_user</span>
                        </div>
                        <div class="more">
                            <p>Type</p>
                            <p><%= type %></p>
                        </div>
                    </div>
                </div>                
                    
            </div>
            <div class="bottom-right">
                <div class="main-image">
                    <div class="image1"></div>
                    <div class="image2">
                        <div class="image2-1">
                            <div class="outer-radius">
                                <div class="inner-radius">
                                    <img src="../images/image2.png" alt="" class="xxx">
                                    <div class="absolute-image">
                                        <img src="../images/image4.jpg" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="image2-2"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>










    
</body>
</html>